<div class="adminDashboardContainer padding-horizontal-10" layout="column" >
	
	<div class="adminDashboardHeader padding-horizontal-10" layout="row">
		<h3 flex>ADMIN DASHBOARD</h3>
		<md-button aria-label="Logout" ng-click ="logout()">
          <md-tooltip md-direction="bottom">Logout</md-tooltip>
          <md-icon class="md-warn icon-30" md-menu-origin md-svg-icon="logout"></md-icon>
    	</md-button>
	</div>
	
	<md-content ng-cloak>
	    <md-tabs md-dynamic-height md-border-bottom md-autoselect md-selected="currentTab">
		    <md-tab label="MANAGE ADMIN GROUPS" ng-if="userData.is_super" ui-sref="adminDashboard.groups">
		    	<div ui-view="groups"></div>
		    </md-tab>
		    <md-tab label = "MANAGE USER EVENTS" ui-sref="adminDashboard.events">
		    	<div ui-view="events"></div>
		    </md-tab>
	    </md-tabs>
	</md-content>

</div>
