<div class="userPostScreenHeader" layout="row">
	<!--<a ui-sref="userDashboard"><md-icon md-svg-icon="arrow_back" aria-label="sentiment"></md-icon></a>  -->
	<div layout="column" layout-align="center start" flex>
		<h4 class="headings">{{tagName}}</h4>
		<h5 class="headings">{{tagDesc}}</h5>
	</div>	
	<md-button aria-label="Logout" ng-click ="logout()">
		  <md-tooltip md-direction="bottom">Logout</md-tooltip>
          <md-icon class="md-warn icon-30" md-svg-icon="logout"></md-icon>
     </md-button>
</div>

<div class="userPostScreenContainer padding-horizontal-10" layout="row">
	<div class="userformContainer userContainer padding-horizontal-10 padding-vertical-10">
		<div layout="column">
			<h4>Add your comments</h4>						
			<textarea placeholder="Write your thoughts here ..." maxlength="250"
				ng-model="selTweet" required>
			</textarea>
			<br>
			<md-button class="md-warn md-raised md-hue-2 margin-0" ng-click="postTweet()">POST</md-button>
			<br>
			<br>
			<div class="percentContainer" layout="row" layout-align="space-between center">
	            <div ng-repeat="emotion in emoList" class="emojiWrapper -{{emotion.name}}">
	               <md-icon class="icon-30" md-svg-icon="{{emotion.icon}}" aria-label="sentiment"></md-icon>
	               <div class="emoPercent">{{emoPercents[emotion.name]/emoPercents['total']*100 | number: 2}}%</div>
	               <md-progress-linear md-mode="determinate" value="{{emoPercents[emotion.name]/emoPercents['total']*100}}"></md-progress-linear>
	            </div>
          	</div>
		</div>
	</div>
	<div class="userContainer padding-horizontal-10 padding-vertical-10">
		<h4>Other Responses</h4>
		<div class="postedCommentsContainer" id="tweetContainer">
			<div ng-repeat="tweet in curListTweets" class="card" layout="row" layout-align="space-between center">
				<div flex>
					<!--<div class="cardTitle">{{tweet.tag_id}}</div>  -->
					<div class="cardMessage font-16">{{tweet.message}}</div>
				</div>			
				<div class="emojiWrapper -{{emoList[tweet.sentiment].name}}">
					<md-icon class="icon-30 padding-horzontal-10 margin-left-10" md-svg-icon="{{emoList[tweet.sentiment].icon}}" aria-label="sentiment"></md-icon>
				</div>
			</div>
		</div>		
	</div>
	
</div>
