.iexpress-header-container{
	/*padding: 10px;*/
	font-family:Raleway-Bold;
}

.iexpress-header-container >div{
	float:left;
}
.iexpress-header-container .iexpressLogo{
	font-size:16px;
	font-weight:bold;
}

.iexpress-header-container .iexpressLogo.slantpart{
	font-style:italic;
	color:black;
}

.iexpress-header-container .iexpressLogo.normalpart{
	color:red;
}