.userDashboard-container{
  height: 100%;
  overflow: hidden;
}
.userDashboard-header{
    padding-left: 10px;
    color: black;
    align-items: center;
    /*font-weight: 500;*/
}

.userDashboard-header h4 {
    font-weight: 500;
}

.cards-container{
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;
    height: 90%;
    overflow-y: scroll;    
    overflow-x: hidden;
}

.cards-container a{
	max-width:420px;
	min-width:360px;
	flex:1 1 360px;
	display: flex;
}
.hashtag-card {
  cursor: pointer;
  border-radius: 2px;
  overflow: hidden;
  flex: 1;
}

.hashtag-card-header {
  height: 60px;
  padding: 8px;
  color: #FFFFFF;
  overflow: hidden;

}

.hashtag-card-header.-greenColor{
	background-color:	#e6323b;
}

.hashtag-card-separator.-interview {
    background-color: #45FF48;
}

.hashtag-card-header md-card-title-text .md-subhead{
  height: 30px;
  overflow: hidden;
  font-size:  12px;
  line-height: 14px;
  padding-top: 0px!important;
  color:#fff!important;
}

md-card md-card-actions {
     margin: 0px!important;
}

.hashtag-card-header .md-headline{
  height: 30px;
  overflow: hidden;
  font-size:14px;
  font-weight:700;
}

.hashtag-card-content{
  background-color: white;
  color: black;
  height: 45px;
  padding: 8px;
}

.icon-40{
	height:40px;
	width:40px;
}
.icon-30{
	height:30px;
	width:30px;
}

.icon-18{
	height:18px;
	width:18px;
	min-width:0px!important;
	min-height:0px!important;
}

.icon-16{
	height:16px;
	width:16px;
	min-width:0px!important;
	min-height:0px!important;
}
.emojiWrapper md-progress-linear{
	width:40px;
}

.emojiWrapper.-upset md-icon{
	color:#da440a;
} 
.emojiWrapper.-upset md-progress-linear .md-container .md-bar{	
	background-color:	#da440a;
}

.emojiWrapper.-sad md-icon{
	color:#f57900;
}
.emojiWrapper.-sad  md-progress-linear .md-container .md-bar{
	background-color:	#f57900;
}


.emojiWrapper.-neutral md-icon{
	color:#ffac03;
}
.emojiWrapper.-neutral  md-progress-linear .md-container .md-bar{
	background-color:	#ffac03;
}

.emojiWrapper.-happy md-icon{
	color:#4e9a06;
}
.emojiWrapper.-happy  md-progress-linear .md-container .md-bar{
	background-color:	#4e9a06;
}
.emojiWrapper.-glad md-icon{
	color:#006319;
}
.emojiWrapper.-glad  md-progress-linear .md-container .md-bar{
	background-color:	#006319;
}

.hashtag-card-actions{
	display: flex;
    align-content: space-between;
    padding: 0px 16px;
    align-items: baseline;
    
}

.hashtag-card-actions .respCountContainer{
	flex:1;
	line-height: 2.5;
}

.userQuestionsModal{
	max-width:none!important;
	max-height:none!important;
	width:100%!important;
	height:100%!important;
}
