<md-dialog aria-label="Agenda" class="agendaModal">
	<md-toolbar class="md-warn md-hue-2">
	      <div class="md-toolbar-tools">
	        <h2>Agenda</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="cancel()">
	          <md-icon md-svg-icon="close" aria-label="Close Agenda"></md-icon>
	        </md-button>
	      </div>
	</md-toolbar>
	<div class="eventAgendaContainer">		
		<md-button class="md-warn md-hue-2 md-raised" ng-click="showAgendaInput = true"  ng-show="!showAgendaInput">+ADD NEW AGENDA</md-button>
		<div layout="column" ng-show="showAgendaInput" class="modalContainer">
		  <md-input-container>
		        <label>Agenda Title</label>
		        <input ng-model="curAgenda.agenda" required>
		  </md-input-container>
		  <md-input-container class="md-input-has-placeholder">
		    <label>Start Date/Time</label>
		    <input ng-click="displayDateDialog('start_time')" ng-model="displayTime.start_time"  placeholder="Start Time" >
		    <!--<input mdc-datetime-picker="" date="true" time="true" type="text"
		    placeholder="Date" max-date="curAgenda.end_time" ng-model="curAgenda.start_time" class=" md-input"
		    readonly="readonly" id="input_0">  -->
		    
		  </md-input-container>
		  <md-input-container class="md-input-has-placeholder">
		    <label>End Date/Time</label>
		    <input ng-click="displayDateDialog('end_time')" ng-model="displayTime.end_time"  placeholder="End Time" >
		    <!--<input mdc-datetime-picker="" date="true" time="true" type="text"
		    placeholder="Date" min-date="curAgenda.start_time" ng-model="curAgenda.end_time" class=" md-input" 
		    id="input_1" readonly="readonly">  -->
		    <!--<div class="md-errors-spacer"></div>  -->
		  </md-input-container>		  
		  <div layout="row">
			 <md-button class="md-warn md-hue-2" ng-click="addNewAgendaItem()">
	          Add
	         </md-button>
	         <md-button class="md-warn md-hue-2" ng-click="cancelAgendaInput()">
	          Cancel
	         </md-button>				  	
		  </div>
		</div>
		<
		<div layout="column">
			<md-card ng-repeat="permAgenda in savedAgendaList" class="agendaCard" layout="row" layout="start center">
		        <div class="agendaTime agendaComponent" layout="column">
		        	
					<div class="date font-24">{{permAgenda.start_time | date: 'dd MMM'}}</div>
					<div class="time">{{permAgenda.start_time | date: 'hh:mm a'}}</div>
				</div>
				
				<div class="agendaTitle" layout = "column">					
					<div flex layout="row">
					 	<div flex class="spill-x-hidden spill-y-scroll" >{{permAgenda.agenda}}</div>						
						<div layout="column">
							<md-button class="md-icon-button margin-0" ng-click="editAgendaSaved()">
							  <md-tooltip md-direction="bottom">Edit Agenda</md-tooltip>
					          <md-icon md-svg-icon="edit" aria-label="Edit Agenda"></md-icon>
					        </md-button>
							<md-button class="md-icon-button margin-0" ng-click="deleteAgendaSaved()">
							  <md-tooltip md-direction="bottom">Delete Agenda</md-tooltip>
					          <md-icon md-svg-icon="close" aria-label="Delete Agenda"></md-icon>
					        </md-button>					        
				        </div>
				       
					</div>
					<div ng-show ="permAgenda.end_time" class="endTiming padding-vertical-10" layout = "row" layout-align="start center">
						<md-icon class="margin-0" md-svg-icon="clock" aria-label="Schedule"></md-icon>
						<div>
							Ends At 
						</div>
						<div> - </div>
						<div layout="row"><b>
							<span>{{permAgenda.end_time | date: 'dd MMM yy '}}</span>
							<span>{{permAgenda.end_time | date: 'hh:mm a'}}</span></b>
						</div>
					</div>
				</div>
		    </md-card>
		</div>
		<event-agenda is-admin="true" grey-out="true" agenda="tempAgenda"></event-agenda>
		<div layout="row">
			<md-button class="md-warn md-hue-2 md-raised" ng-click="saveAgenda()">SAVE</md-button>
			<md-button class="md-raised" ng-click="cancel()">CLOSE</md-button>		
		</div>
	</div>
</md-dialog>