@import url("css/adminDashboard.css");
/*@import url("css/adminLogin.css");*/
@import url("css/userDashboard.css");
/*@import url("css/userLogin.css");*/
@import url("css/userPostScreen.css");
@import url("css/iexpressLoader.css");
@import url("css/iexpressHeader.css");

@font-face {
  font-family: "Raleway-Regular";
  font-style: normal;
  src:url("fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  font-style: normal;
  src:url("fonts/Raleway-Bold.ttf");
}

.bodyContainer{
	overflow-x: hidden;
    background-color: #fff;
    font-family: Raleway-Regular;
}

.mainContainer{
	padding:10px 0px;
	height: calc(100vh - 90px);
	overflow-y: scroll;
	font-size:14px;
	/*background-color:#f4f4f4;*/
}
.md-dialog-container {
	height:inherit!important;
}
.modalContainer{
	padding:20px;
}

.userLoginContainer{
	text-align:center;
	height:100%;
}

a{
	text-decoration: none;
	color:rgb(216,67,21);
}
a:hover{
	cursor:pointer;
}
.textContent{
	color:black;
}

.not-too-much-grey{
	color: #8e8e8e;
}


.headings{
	font-weight:600;
	margin: 5px 0px;
	padding: 0px 8px;
    text-transform: capitalize;
}
.subHeadings, .subText{
	color:#818181;/*#a4a4a4;*/
}
button{
	width:fit-content;
	width:-moz-fit-content;
}
.appButton{
	opacity:.9;
}

.appButton:hover{
	opacity:1;
	cursor:pointer;
}

/*
.appFooter{
	display: flex;
    justify-content: center;
}*/

::-webkit-scrollbar { 
    display: none; 
}
*{
	-ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.errorMessages{
	color:rgb(216,67,21);
	margin-top:0px;
	opacity:1;
}

.errorMessages .ng-hide {
  opacity: 0;
}

.errorMessages .ng-hide-remove {
  transition: all linear 0.5s;
}

.font-8{
	font-size:8px;
}
.font-12{
	font-size:12px;
}
.font-14{
	font-size:14px;
}
.font-16{
	font-size:16px;
}
.font-20{
	font-size:20px;
}
.font-24{
	font-size:24px;
}
.margin-0{
	margin:0px!important;
}
.margin-left-10{
	margin-left:10px!important;
}
.padding-horizontal-10{
	padding-left:10px;
	padding-right:10px;
}

.padding-vertical-10{
	padding-top:10px;
	padding-bottom:10px;
}
.spill-x-hidden{
	overflow-x:hidden;
}
.spill-y-hidden{
	overflow-y:hidden;
}
.spill-x-scroll{
	overflow-x:scroll;
}
.spill-y-scroll{
	overflow-y:scroll;
}
