<md-content>
	<div class="dashboardWrapper" layout="row" layout-align="center start">
		<div class="adminWrappers adminEventListWrapper"  layout="column">
			<h4 class="pure-black">EVENTS</h4>
			<div layout="row" layout-align="space-between end">
				<md-button class="md-warn md-raised md-hue-2" ng-click="updateEvent($event,null,null,'CREATE_NEW')">+ADD NEW EVENT</md-button>
				<md-button class="md-warn md-raised md-hue-2" ng-click="openCreateAgendaModal($event)">AGENDA</md-button>
				
			</div>	
			<div class="adminEventsWrapper">
				<div  ng-show="groupItem.eventlist.length>0" ng-repeat="groupItem in groupEventList" layout="column" layout-align="start start">
					<h4>GROUP - {{groupItem.group_name}}</h4>
					<div ng-class="{'active':(activeEventIndex === $index && activeEventGroupIndex === $parent.$index )}" style="width:100%;" class="adminEventItem listItem"  ng-repeat="event in groupItem.eventlist" layout="row" layout-align="center center">
						<div class=" adminEventName" flex ng-click="setThisEventActive($parent.$index,$index)">{{event.name}}</div>
						<md-icon class="md-warn icon-30"  md-svg-src="images/icons/key.svg" aria-label="Edit" class="md-warn" ng-click = "showAccessCode($event,$parent.$index,$index)"></md-icon>
						<md-icon md-svg-icon="edit" aria-label="Edit" class="md-warn margin-left-10" ng-click = "updateEvent($event,$parent.$index,$index,'UPDATE')"></md-icon>
						<md-switch ng-model="event.is_active" aria-label="Active/Inactive" class="md-warn" ng-click="updateEvent($event,$parent.$index,$index,'DISABLE')"></md-switch>
					</div>
				</div>		
			</div>
			<h4 ng-show="activeEvent.showAccess">Access Code - {{activeEvent.access_code}}</h4>
			<div layout= "row" layout-align="start center" style="width:100%;">
				<span flex></span>				
		        <a class="md-warn md-hue-2" ng-click = "downloadQuestions()">
			        <md-icon class="md-warn icon-30"  md-svg-icon="download" aria-label="Download Questions"></md-icon>
			        <span>Download Questions</span>
		        </a>
			</div>
			<div layout= "row" layout-align="start center" style="width:100%;">
				<md-input-container flex>
		          <label>Select Tag</label>
		          <md-select ng-model="activeTagForDownload">
		            <md-option ng-value="null"><em>ALL TAGS</em></md-option>
		            <md-option ng-repeat="tag in tagsList" ng-value="tag">
		              {{tag.name}}
		            </md-option>
		          </md-select>
		        </md-input-container>		        
		        <a class="md-warn md-hue-2"  ng-click = "downloadComments()">
		        	<md-icon class="md-warn icon-30"  md-svg-icon="download" aria-label="Download Comments"></md-icon>
		        	<span>Download Comments</span>
		        </a>
			</div>
		</div>
		<div class="adminWrappers adminHashtagListWrapper" layout="column">
			<h4 class="pure-black"> TAGS IN  THE EVENT : {{activeEvent.name.trim()}}</h4>
			<md-button class="md-warn md-raised md-hue-2" ng-click="updateTag($event,null,'CREATE_NEW')">+ADD NEW TAG</md-button>
			<div class="adminEventsWrapper">
				<div class="listItem" ng-repeat="tag in tagsList" layout="row" layout-align="center center">
					<div class="adminEventName" flex>{{tag.name}}</div>		
					<md-icon md-svg-icon="edit" aria-label="Edit" class="md-warn" ng-click = "updateTag($event,$index,'EDIT_SAVED')"></md-icon>
					<md-switch ng-model="tag.is_active" aria-label="Active/Inactive" class="md-warn" ng-click="updateTag($event,$index,'DISABLE_TAG')">		
				</div>
				<div class="listItem" ng-repeat="tag in currentTagsList" layout="row" layout-align="center center">
					<div class="adminEventName" flex>{{tag.name}}</div>
					<md-icon md-svg-icon="edit" aria-label="Edit" class="md-warn" ng-click = "updateTag($event,$index,'EDIT_UNSAVED')"></md-icon>
					<md-icon md-svg-icon="delete_forever" aria-label="Delete" class="md-warn" ng-click = "deleteUnsavedTag($index)"></md-icon>					
				</div>
				<div ng-show="tagsList.length==0" class="adminEventItem" layout="row" layout-align="center center">
					<div class="adminEventName" flex>NO TAGS IN THIS EVENT</div>
				</div>				
			</div>
			<md-button class="md-warn md-raised md-hue-2" ng-click="saveTagChanges()">SAVE CHANGES TO TAGS</md-button>
		</div>
		
		<div  class="graphWrapper" layout="column" layout-align="start center">
			<h4 class="pure-black">TREND ANALYSIS</h4>		
			<div id="graphSelect" layout= "row" layout-align="center center" style="width:100%">
				<md-input-container flex>
		          <label>Select Tag</label>
		          <md-select ng-model="activeTagId">
		            <md-option ng-value="null"><em>ALL TAGS</em></md-option>
		            <md-option ng-repeat="tag in tagsList" ng-value="tag.id">
		              {{tag.name}}
		            </md-option>
		          </md-select>
		        </md-input-container>
		        <md-button class="md-warn md-raised md-hue-2" ng-click="getTimeLineGraph(activeEvent.id,activeTagId)">UPDATE GRAPH</md-button>
			</div>
			<div class="graphContainer"  style="width:100%">
				<div class="subHeadings" ng-show="graphData['0'].length == 0" style="width:fit-content;width:-moz-fit-content;">
					<b>NO DATA TO DISPLAY GRAPH</b>
				</div>
				<div ng-show="graphData['0'].length > 0" id ="trendsContainer">
					
				</div>
			</div>
		</div>
	</div>
</md-content>